*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: #fafafa;
}

.corpo{
    max-width: 900px;
    display: flex;
    margin: 0 auto;
    padding-top: 120px;
}

.esquerda, .direita{
    width: 50%;
}

.esquerda{
    text-align: right;
}

.direita{
    text-align: center;
}

.direita .formulario{
    padding: 40px 10px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    text-align: center;
    margin: 0 50px;
    background-color: white;
}

.cabecalho{
    margin-bottom: 40px;
}

input{
    width: 85%;
    padding: 10px 7px;
    margin-bottom: 5px;
    background-color: #fafafa;
    border: 1px solid rgba(128, 128, 128, 0.356);
    border-radius: 2px;
}

button{
    width: 85%;
    margin-top: 10px;
    padding: 6px 0;
}

.texto {
    position: relative;
    display: inline-block;
    width: 85%;
    margin: 12px 0;
  }
  .texto::before,
  .texto::after {
    content: "";
    position: absolute;
    top: 0.65em;
    width: 35%;
    height: 0.05em;
    background-color: rgba(128, 128, 128, 0.356);
    left: -0.08em;
  }
  .texto::after {
    left: initial;
    right: -0.08em;
  }

.facebook{
    display: flex;
    margin: 10px 0;
}

.cadastrese{
    padding: 20px 20px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    margin: 10px 50px;
    background-color: white;
    display: flex;
    margin-bottom: 25px;
}
.apps{
    margin-top: 25px;
    display: flex;
}

.apps img{
    width: 140px;
    padding: 5px;
}